* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #bfb0a0;
}

.conteiner {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .conteiner {
    padding: 20px;
}

header > .conteiner img {
    height: 40px;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: #f7efe7;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Signika Negative', sans-serif;
    border: 3px solid #f7efe7;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.conteiner ul li a:hover {
    filter: blur(.7px);
}

#MeContrate h1 {
    margin-top: 20px;
    font-size: 40px;
    color: #312c38;
    font-family: 'Signika Negative', sans-serif;
    padding: 18px;
    display: flex;
    justify-content: center;
    line-height: 0.5;
}

#MeContrate h2 {
    font-size: 25px;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    padding: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    line-height: 0.3;
}

input, button, textarea {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
}

form input, button {
    display: block;
    width: 400px;
    height: 50px;
    border: 2px solid #f7efe7;
    border-radius: 3px;
    color: black;
    outline: none;
    padding-left: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 400px;
    height: 150px;
    resize: none;
    border-radius: 3px;
    margin-bottom: 5px;
    border: 2px solid #f7efe7;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
}

button {
    background-color: #bfb0a0;
    border-color: #f7efe7;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e0d0be;
}

.redes img {
    height: 40px;
    margin-left: 20px;
}

.redes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logos {
    display: block;
    max-height: 100%;
}

.logos #insta, #face, #emaill {
    transition: all 0.2s linear;
}

.logos #insta:hover, #face:hover, #emaill:hover {
    scale: 1.5;
}

#insta, #face, #emaill {
    margin-bottom: 10px;
}

#MeContrate {
    margin-top: 80px;
}

#plane {
    position: relative;
    top: 105px;
    height: 50px;
    animation: flutter 5s
    ease-in-out infinite;
    display: none;
}

@keyframes flutter {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
}

.pedido {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: rgb(104, 133, 62);
    display: none;
}

@media screen and (max-width: 700px) {
    header .conteiner {
        padding: 30px 10px;
    }
    header .conteiner img {
        height: 30px;
    }
    .conteiner {
        max-width: auto;
        width: 100%;
        margin: 0 auto;
    }
    .conteiner ul li a {
        font-size: 10px;
    }
    #MeContrate .conteiner h1 {
        font-size: 20px;
    }
    #MeContrate .conteiner h2 {
        font-size: 12px;
    }
    #MeContrate .redes {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    form input, button {
        width: 200px;
    }
    textarea {
        width: 200px;
    }
    .redes img {
        height: 25px;
        margin-left: 10px;
    }
    input, textarea, button {
        margin-left: 20px;
    }
    .pedido {
        font-size: 15px;
        margin-left: 21px;
    }
    #plane {
        top: 160px;
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    header .conteiner {
        padding: 30px 10px;
    }
    header .conteiner img {
        height: 30px;
    }
    .conteiner {
        max-width: auto;
        width: 100%;
        margin: 0 auto;
    }
    .conteiner ul li a {
        font-size: 10px;
    }
    #MeContrate .conteiner h1 {
        font-size: 15px;
    }
    #MeContrate .conteiner h2 {
        font-size: 10px;
    }
    #MeContrate .redes {
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
    }
    form input, button {
        width: 150px;
    }
    textarea {
        width: 150px;
    }
    textarea, input {
        font-size: 10px;
    }
    .redes img {
        height: 25px;
        margin-left: 10px;
    }
    input, textarea, button {
        margin-left: 20px;
    }
    .pedido {
        font-size: 10px;
        margin-left: 21px;
    }
    #plane {
        top: 160px;
        height: 40px;
    }
}